*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    height: 100vh;
    background-color: #f3f4f7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 420px;
    height: 530px;
    padding: 25px;
    background-color: #f3f4f7;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px rgba(83, 87, 95, 0.25);
}
h1{
    padding: 20px 0;
    color: #090909;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}